body {
    background-color: whitesmoke;
}

header h1 {
    color: darkseagreen;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: darkseagreen;
}
#sidebar {
    height: 100%;
    width: 30%;
    min-width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:darkseagreen;
    overflow-x: hidden;
    padding-top: 20px;
}

#sidebar h2 {
    text-align: center;
}

/* WEATHER STYLING */
#weather-container{
    /* height: 285px; */
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
    margin: 5px;
    background-color: whitesmoke;

}
#weather-container h3{
   text-align: center;

}

#weather-content.hide {
    display: none;
}

#weather-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#location {
    width: 70%;
}
#location-form{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;

}
div#weather-scroll{
    display: flex;
    margin-bottom: 18px;
    overflow: auto;
  white-space: nowrap;
}

.eachDay {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
    background-color: rgb(90, 175, 244);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.temp {
    margin-left: 5px;
    margin-right: 5px;
}

/* CALCULATOR STYLING */
#calculator-container {
    /* height: 400px; */
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: whitesmoke;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    padding-bottom: -5px;
    margin-bottom: -2px;
}

#calculator-button-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    height: 85%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom: none;
    position: relative;
    padding: -5px;
    margin-bottom: none;
}

#calculator-container h3 {
    text-align: center;
}

#calculator-content.hide {
    display: none;
}

#calculator-content {
    height: 350px;
}

#calculator-container h4 {
    height: 15%;
    width: 100%;
    background-color: lightgray;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 50px;
    font-style: normal;
}

.calculator-button {
    height: 26%;
    width: 25%;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
    overflow: hidden;
}

.calculator-button:hover {
    background-color: lightgray;
}

.calculator-button:active {
    background-color: #c4b8ff;
    transform: translateY(4px);
  }

.bottom {
    border-bottom: -1px;
    position: relative;
    margin-bottom: -1px;
}

.calculator-button.number {
    background-color: rgb(90, 175, 244);
}

.calculator-button.number:hover {
    background-color: dodgerblue;
}

/* TIMER STYLING */

#timer-container {
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
}

#timer-container h3 {
    text-align: center;
}

#timer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#timer-content.hide {
    display: none;
}

#timer-numbers {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
    border-color: darkseagreen;
    margin-left: 40px;
    margin-right: 40px;
    
}

#minutes {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    font-size: 50px;
}

#minutes + h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
}

#seconds {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 50px;
}

#minutes-seconds-buttons {
    display: flex;
    justify-content: center;
}

#minutes-buttons {
    margin-top: 5px;
    margin-right: 15px;
}

#seconds-buttons {
    margin-top: 5px;
    margin-left: 15px;
}

#minutes-buttons  h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

#seconds-buttons  h5{
    margin-top: 5px;
    margin-bottom: 5px;
}

#timer-control-buttons {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5px;
}

/* Class Points Styling */

#class-points-container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

}

#class-points-container h3 {
    margin-right: 25px;
}

#class-points-content.hide {
    display: none;
}

#class-points-content h4 {
    border-width: 1px;
    border-style: solid;
    border-color: darkseagreen;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#points-buttons {
    margin-bottom: 15px;
}

/* Dictionary */

#dictionary-container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#dictionary-container h3 {
    text-align: center;
}

#dictionary-content.hide {
    display: none;
}

#word-form {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#word-display.hide {
    display: none;
}

#word-display {
    padding-left: 10px;
    padding-right: 10px;
}

#word-display p {
    overflow-wrap: break-word;
}

#word {
    text-align: center;
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: darkseagreen;
}

/* Learning Objective Styling */

#learning-objectives-content {
    margin-top: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: darkseagreen;
}

.objective-display {
    margin-top: 5px;
    margin-bottom: 5px;
}
.objective-p {
    margin: none;
}

/* Slide Show Styling */

#slideshow-container {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: darkseagreen;
}

#slideshow-display {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Schedule Styling */

#schedule-container {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#schedule-container h3 {
    text-align: center;
}

#schedule-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#schedule-content.hide {
    display: none;
}

#schedule-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#schedule-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-spacing: 0;
}

#schedule-table tbody tr th.schedule-time{
    border-style: solid;
    border-color: darkseagreen;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 1px;
}

#schedule-table tbody tr th.schedule-activity{
    border-style: solid;
    border-color: darkseagreen;
    border-top-width: 2px;
    border-left-width: 1px;
    border-bottom-width: 2px;
    border-right-width: 2px;
}

#schedule-table tbody tr td.schedule-time {
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-style: solid;
    border-color: darkseagreen;
    text-align: center;
}

#schedule-table tbody tr td.schedule-activity {
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-top-width: 0px;
    border-style: solid;
    border-color: darkseagreen;
    text-align: center;
}

#monthHeader {
    text-align: center;
    width: 700px;
}

#calendar-table {
    height: 350px;
    width: 700px;
    border-spacing: 0;
}

#calendar-table tr th.calendar-sunday{
    border-style: solid;
    border-color: darkseagreen;
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    width: 100px;
}

#calendar-table tr th.calendar-saturday {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-style: solid;
    border-color: darkseagreen;
    text-align: center;
    width: 100px;
}

#calendar-table tr th.calendar-day {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 2px;
    border-style: solid;
    border-color: darkseagreen;
    text-align: center;
    width: 100px;
}

#calendar-table tr td.calendar-sunday{
    border-style: solid;
    border-color: darkseagreen;
    border-top-width: 1px;
    border-left-width: 2px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    vertical-align: top;
    width: 100px;
}

#calendar-table tr td.calendar-saturday {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-style: solid;
    border-color: darkseagreen;
    vertical-align: top;
    width: 100px;
}

#calendar-table tr td.calendar-day {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    border-color: darkseagreen;
    vertical-align: top;
    width: 100px;
}

#calendar-table tr td.calendar-sunday-bottom{
    border-style: solid;
    border-color: darkseagreen;
    border-top-width: 1px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 1px;
    vertical-align: top;
    width: 100px;
}

#calendar-table tr td.calendar-saturday-bottom {
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-top-width: 1px;
    border-style: solid;
    border-color: darkseagreen;
    vertical-align: top;
    width: 100px;
}

#calendar-table tr td.calendar-day-bottom {
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    border-color: darkseagreen;
    vertical-align: top;
    width: 100px;
}

#days-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.day {
    border-style: dashed;
    border-width: 1px;
    border-color: darkseagreen;
}